/* General layout */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
footer{
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
    height: 80px; 
}

.container {
    display: flex;
    border: 1px, solid black;
    margin-top: 30px;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #f0f0f0;
    border: 1px, solid black;
    height: 80vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 20px;
    border: 1px, solid black;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidebar ul li a img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

/* Main content */
.main-content {
    flex: 1;
    padding: 20px;
    padding-bottom: 0px;
}

.main-content h2 {
    margin-bottom: 20px;
}
