{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Employee Management{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'base.css' %}"> 
    <link rel="stylesheet" href="{% static 'employee_list.css' %}"> 
    <link rel="stylesheet" href="{% static 'edit_employee.css' %}"> 
    <link rel="stylesheet" href="{% static 'add_employee.css' %}"> 



</head>
<body>
    <div class="container">
        <!-- Sidebar Navigation -->
        <div class="sidebar">
            <ul>
                <a href="{% url 'employee_list' %}"><li><i class="fa-solid fa-users" style="font-size:20px;color:black;"></i> Employees</li></a>
                <a href="{% url 'add_employee' %}"><li><i class="fas fa-user-plus" style="font-size:20px;color:black;"></i> Add Employee</li></a>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            {% block content %}
            <!-- Content pages -->
            {% endblock %}
        </div>
    </div>
</body>
<footer>
    <p>Copyright 2024</p>
</footer>
</html>
