{% extends 'base.html' %}

{% block title %}Edit Employee{% endblock %}

{% block content %}

<h2>Edit Employee</h2>

<div class="container-edit-form">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}">First Name</label>
        {{ form.first_name }}
    </div>
    <div class="form-group">
        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
        {{ form.last_name }}
    </div>
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label for="{{ form.mobile.id_for_label }}">Mobile</label>
        {{ form.mobile }}
    </div>
    <div class="form-group">
        <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth</label>
        {{ form.date_of_birth }}
    </div>
    <div class="form-group">
        <label for="id_photo">Photo</label>
        <input type="file" id="id_photo" name="photo" accept="image/*">

        <!-- Image preview -->
        <br>
        <img id="imagePreview" src="{% if form.instance.photo %}{{ form.instance.photo.url }}{% endif %}" alt="Image Preview" style="max-width: 300px; max-height: 300px;">
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="{% url 'employee_list' %}" class="btn btn-secondary">Cancel</a>
</form>
</div>

<script>

    // Image preview
    document.getElementById('id_photo').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            const img = document.getElementById('imagePreview');
            img.src = e.target.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    });
</script>

{% endblock %}
